
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
table {
    border-collapse: collapse;
    width: 80%;
    margin: 20px 0;
}
table, th, td {
    border: 1px solid black;
}
th, td {
    padding: 8px;
    text-align: center;
}
input[type="text"] {
    width: 90%;
    padding: 5px;
    border: none; /* Eliminar el borde */
}
input[type="submit"] {
    margin: 20px;
    padding: 10px 20px;
    font-size: 16px;
}
#searchInput {
    width: 80%;
    padding: 10px;
    margin: 20px 0;
}
#noResults {
    color: red;
}